<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}College Football{% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous" />
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                       href="/">Home</a>
                    {% if "user_id" not in session %}
                        <a class="nav-link {% if request.path.startswith('/register') %}active{% endif %}"
                           href="/register">Register</a>
                        <a class="nav-link {% if request.path.startswith('/login') %}active{% endif %}"
                           href="/login">Login</a>
                    {% else %}
                        <a class="nav-link {% if request.path.startswith('/picks') %}active{% endif %}"
                           href="/picks">Picks</a>
                        <a class="nav-link {% if request.path.startswith('/standings') %}active{% endif %}"
                           href="/standings">Standings</a>
                        <a class="nav-link" href="/logout">Logout</a>
                    {% endif %}
                    <a class="nav-link {% if request.path.startswith('/help') %}active{% endif %}"
                       href="/help">Help</a>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=false) %}
                {% if messages %}
                    {% for message in messages %}<div class="alert alert-primary">{{ message }}</div>{% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
    </body>
</html>
