{% extends "base.html" %} {% block content %}
<script>
	async function savePick(gameId, pick) {
		const res = await fetch("/api/save_pick", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				game_id: gameId,
				pick: pick,
			}),
		});
	}

	async function savePlayoffPick(playoffGameId, teamId) {
		await fetch("/api/save_playoff_pick", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				playoff_game_id: playoffGameId,
				team_id: teamId,
			}),
		}).then(() => window.location.reload());
	}

	document.addEventListener("DOMContentLoaded", () => {
		document.querySelectorAll(".utc").forEach((el) => {
			const ts = new Date(el.textContent.trim());
			el.textContent = ts.toLocaleString([], {
				dateStyle: "medium",
				timeStyle: "short",
			});

			const now = new Date();

			const expired = ts < now;

			const card = el.closest(".card-body");
			card.querySelectorAll(".pick-wrapper input").forEach((input) => {
				input.disabled = expired;
			});
		});
	});
</script>

<style>
	.pick-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	@media screen and (max-width: 576px) {
		.pick-wrapper {
			grid-template-columns: 1fr;
		}
	}

	.pick-btn {
		width: 100%;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between; /* pushes text left, logo right */
		gap: 1rem;
		text-align: left;
	}

	.pick-btn .text-block {
		display: flex;
		flex-direction: column;
		line-height: 1.2;
	}

	.pick-btn img {
		width: 60px;
		height: 60px;
		object-fit: contain;
	}
</style>

<h1 class="mb-4">Picks</h1>

{% for game in games %}
<div class="card w-100 mb-4 shadow-sm">
	<div class="card-body">
		<h4 class="card-title mb-3">{{ game.title }}</h4>
		<h5 class="card-text utc">{{ game.start_date.isoformat() }}Z</h5>

		<div class="pick-wrapper">
			<!-- Home -->
			<input type="radio" class="btn-check" name="pick_{{ game.id }}"
			id="pick_{{ game.id }}_home" autocomplete="off" value="{{
			game.home_team }}" {% if user_picks.get(game.id) == game.home_team
			%}checked{% endif %} onchange="savePick({{ game.id }}, '{{
			game.home_team }}')" >
			<label
				class="btn btn-outline-primary pick-btn"
				for="pick_{{ game.id }}_home"
			>
				<div class="text-block">
					<strong>{{ game.home_team }}</strong>
					<span>
						{% if game.line > 0 %} {{ game.line }} point underdog {%
						else %} {{ game.line * -1 }} point favorite {% endif %}
					</span>
				</div>
				<img
					src="http://a.espncdn.com/i/teamlogos/ncaa/500/{{game.home_id}}.png"
				/>
			</label>

			<!-- Away -->
			<input type="radio" class="btn-check" name="pick_{{ game.id }}"
			id="pick_{{ game.id }}_away" autocomplete="off" value="{{
			game.away_team }}" {% if user_picks.get(game.id) == game.away_team
			%}checked{% endif %} onchange="savePick({{ game.id }}, '{{
			game.away_team }}')" >
			<label
				class="btn btn-outline-primary pick-btn"
				for="pick_{{ game.id }}_away"
			>
				<div class="text-block">
					<strong>{{ game.away_team }}</strong>
					<span>
						{% if game.line < 0 %} {{ game.line * -1 }} point
						underdog {% else %} {{ game.line }} point favorite {%
						endif %}
					</span>
				</div>
				<img
					src="http://a.espncdn.com/i/teamlogos/ncaa/500/{{game.away_id}}.png"
				/>
			</label>
		</div>
	</div>
</div>
{% endfor %}

<h2 class="mt-5">Playoff Picks</h2>

{% for pg in playoff_games %}
<div class="card w-100 mb-4 shadow-sm">
	<div class="card-body">
		<h4>{{ pg.name }} - Round {{ pg.round }}</h4>

		{% set t1 = bracket[pg.id]["team1"] %} {% set t2 =
		bracket[pg.id]["team2"] %} {% if pg.bye_team_id %}
		<p>{{ pg.bye_team.name }} has a bye</p>
		{% endif %} {% if t1 and t2 %}
		<div class="pick-wrapper">
			<input type="radio" class="btn-check" name="ppick_{{ pg.id }}"
			id="ppick_{{ pg.id }}_1" value="{{ t1 }}" {% if
			user_playoff.get(pg.id) == t1 %}checked{% endif %}
			onchange="savePlayoffPick({{ pg.id }}, {{ t1 }})">

			<label class="btn btn-outline-primary" for="ppick_{{ pg.id }}_1">
				{{ teams[t1].name }}
			</label>

			<input type="radio" class="btn-check" name="ppick_{{ pg.id }}"
			id="ppick_{{ pg.id }}_2" value="{{ t2 }}" {% if
			user_playoff.get(pg.id) == t2 %}checked{% endif %}
			onchange="savePlayoffPick({{ pg.id }}, {{ t2 }})">

			<label class="btn btn-outline-primary" for="ppick_{{ pg.id }}_2">
				{{ teams[t2].name }}
			</label>
		</div>
		{% else %}
		<p>Matchup TBD based on previous round</p>
		{% endif %}
	</div>
</div>
{% endfor %} {% endblock %}
